/* Start Globale Variables */
:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}
/* End Globale Variables */

/* Start Globale Rules */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
h3 {
  color: var(--dark-grayish-blue);
}
h3 {
  font-size: 30px;
  color: var(--dark-grayish-blue);
}
p {
  color: var(--grayish-blue);
  font-weight: 400;
  line-height: 1.5;
  margin: 15px 0 50px;
  font-size: 20px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  max-width: 700px;
  margin: 50px auto;
}
.main-title h1 {
  font-weight: 600;
  color: var(--dark-grayish-blue);
  font-size: 45px;
}
.main-title p {
  color: var(--grayish-blue);
  font-weight: 400;
  line-height: 1.5;
  margin: 20px 0 50px;
  font-size: 20px;
}
.main-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 991px) {
  .main-btn {
    flex-direction: column;
  }
}
.main-btn a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  margin: 0 10px;
  padding: 15px;
  border-radius: 25px;
  color: white;
  transition: 0.3s;
  margin: 10px;
}
.main-btn a:nth-child(1) {
  background-color: var(--strong-cyan);
  box-shadow: 0px 1px 5px 0px var(--strong-cyan);
}
.main-btn a:nth-child(1):hover {
  background-color: hsl(171, 44%, 51%);
}
.main-btn a:nth-child(2) {
  background-color: var(--light-blue);
  box-shadow: 0px 1px 5px 0px var(--light-blue);
}
.main-btn a:nth-child(2):hover {
  background-color: hsl(233, 95%, 69%);
}
/* End Globale Rules */

/* Start Landing */
.landing:nth-child(1) {
  background-image: url(/images/bg-header-desktop.png);
  background-size: cover;
  height: 100vh;
}
@media (max-width: 991px) {
  .landing:nth-child(1) {
    background-image: url(/images/bg-header-mobile.png);
  }
}
.landing {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing .logo {
  width: 100%;
  margin-bottom: 50px;
}
/* End Landing */

/* Start Snippet */
.snippet {
  width: 100%;
}
.snippet .info {
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .snippet .info {
    flex-direction: column;
  }
}
.snippet .info .image {
  width: 130%;
}
.snippet .info .image img {
  width: 110%;
  transform: translateX(-10%);
}
@media (max-width: 991px) {
  .snippet .info .image {
    width: 100%;
    padding: 0 15px;
    margin: 30px;
  }
  .snippet .info .image img {
    width: 100%;
    transform: translateX(0%);
  }
}
.snippet .info .content {
  width: 100%;
  text-align: left;
  padding: 0 10%;
}
@media (max-width: 991px) {
  .snippet .info .content .text {
    text-align: center;
    margin: auto;
  }
}
.snippet .info .content .text {
  max-width: 400px;
}
/* End Snippet */

/* Start Clipbord */
.clipbord .image img {
  width: 100%;
}
/* End Clipbord */

/* Start Workflow */
.workflow .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 60px auto;
}
.workflow .content .box img {
  margin: 40px;
}
.workflow ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 40px auto;
}
.workflow ul li {
  margin: 40px auto;
}
/* End Workflow */

/* Start Footer */
.footer {
  margin-top: 50px;
  padding: 50px;
  background-color: #eee;
  width: 100%;
}
.footer .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .footer .container {
    flex-direction: column;
    text-align: center;
  }
}
.footer .container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 40px;
}
@media (max-width: 991px) {
  .footer .container ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.footer .container ul li {
  margin: 20px 40px;
}
.footer .container ul li a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-weight: 400;
  font-size: 25px;
}
.footer .container .social {
  display: flex;
}
.footer .container .social img {
  margin: 10px;
}
/* End Footer */
